/* CSS Document */

body { 

}

a {
	text-decoration: none;
	text-decoration-color: #777777;
	color: #777777; 

}

/*
a.hovertext {

	position: relative;
	width: 287px;
	text-align: center;
	background: #4aaaa5;
*/

}

ul {
	display: inline;
	text-align: right;
	padding: 50px 60px;
	margin-left: 70px;

}

li {

	display: inline;
	padding: 0px 15px;
	border-right: solid 1px #cccccc;
	font-size: 14px;

}

p {

	color: #777777;
	line-height: 25px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

 hr {

	clear:both;
}

input {

		width: 100%;
    padding: 12px 10px;
    margin: 2px 0;
    box-sizing: border-box;
}

form {

		padding-top: 10px;
}

button {

		background: #4aaaa5;
		color: #FFFFFF;
		width: 100px;
		height: 35px;
		border-color: #4aaaa5;
		margin-top: 15px;
}

textarea {

		padding: 15px 0px 0px 15px;
		border-color: #D3D3D3;

}

/* IDS */

#top {

	width: 100%;
	position: relative;
	overflow: auto;
	background: white;



}

#name {

	background: #4aaaa5;
	width: 250px;
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
	float: left;
	margin-left: 11.5%;
	position: relative;

}

#nav {

	width: 500px;
	float:right;
	padding: 20px 85px 0px 0px;

}

#content {

	float: left;
	width: 615px;
	overflow: auto;
	padding: 5px 25px 25px 25px;
	margin: 25px 0px;
	vertical-align: top;
	background: #FFFFFF;
	border: solid 2px #cccccc;
	margin-left: 11.5%;
}

#socialmedia {

	float: left;
	width: 225px;
	overflow: auto;
	background: #FFFFFF;
	margin: 25px;
	text-align: center;
	vertical-align: top;
	border: solid 2px #cccccc;
}

#footer {
	clear: both;
	background: #666666;
	overflow: auto;
	text-align: center;
	border-top: solid 8px #4aaaa5;
	padding: 5px 0px 5px 0px;
	color: #D3D3D3;
	position: relative;
}


#wrapper {
	background-image: url(../images/woodbg.png);
	width: 100%;
	/*width: 960px;*/
	overflow: auto;
	margin: 0 auto;
	border-top: solid 2px #cccccc;
}

/* CLASSES */


.teal {

	color: #4aaaa5;

}

.grey {

	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.noborder {

	border-right: none;
}


.imagespace {

	margin: .5px;
	padding: 7px 3px;

}

.space {

	padding: 20px 20px 20px 0px;
	float:left;
	z-index: -1;

}

.align {

	padding: 20px 0px 20px 20px;
	float:left;
	z-index: -1;

}

/*.hrindent {

	margin: 5px 25px;
	border: #cccccc solid .25px;
}
*/

.hrthick {
	border: #cccccc solid 1.5px;
}

.form {
	
	line-height: 0px;
}

.button {

	font-size: 14px;
	line-height: 0px;
	color: #FFFFFF;

}

.imagebox {

	margin-bottom: 5px;
  background-color: #4aaaa5;
  height: 50px;
  width: 287px;
  position: relative;
  z-index: 5;

}

/* FONTS */

h1 {

	font-size: 32px;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
	font-size: 24px;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {	
	font-size: 20px;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;	}

	}

h4 {
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}





